@import url('https://fonts.googleapis.com/css?family=Roboto')

$font-familyL: 'lato', sans-serif
$font-size: 3.5em

.done_Text , .about_Text
    font-family: $font-familyL
    text-align: center
    font-weight: 100
    font-size: 3em

.about_Text
    width: 55%
    font-size: 2em
    position: relative
    left: 21%

.projects
    display: block
    float: left
    width: 50%
    padding: 30px
    position: relative

.projectsImg
    border: 1px solid lightgrey
    height: 437px
    width: 100%
    padding: 0 30px
    margin: 0 auto
    left: 0
    right: 0

.projectName
    text-align: center
    position: relative
    left: 15px
    font-weight: 100
    font-family: $font-familyL

p
    font-size: 1.1em