@import url('https://fonts.googleapis.com/css?family=Roboto')


.skills
    background: linear-gradient(150deg,#72d6a0 0,#5bd7b5 100%) 
    background: -webkit-linear-gradient(-60deg,#72d6a0 0,#5bd7b5 100%)
    background: -moz-linear-gradient(-60deg,#72d6a0 0,#5bd7b5 100%)
    clear: both
    position: relative
    font-family: 'lato' , sans-serif
    padding: 30px
    text-align: center
    padding-bottom: 4%

    .skills_txt
        text-align: center
        font-family: 'lato' , sans-serif
        font-weight: lighter
        font-size: 3em
        padding-right: 33px
        padding-top: 5px

    img 
        height: auto
        width: calc(100% / 7)
        float: left
        position: relative
        padding: 15px

    .resume_Button
        border-radius: 10px
        background: transparent
        position: relative
        margin: 15 auto
        left: -17px
        right: 0
        top: 12px
        width: 180px
        border-radius: 18px
        border: 1px solid black
        font-size: 1em


    .resume_Button:hover
        opacity: .5
        background: transparent

    .anc
        color: black
    

   
