@media only screen and (min-width: 375px) and (max-width: 1023px) {
    .skills{
        position: relative;
    }

    .skills .skills_txt {
        font-weight: lighter;
        font-size: 3.5em;
        padding-right: 33px;
        padding-top: 0;
        position: relative;
        bottom: 45px;
        left: 2px;
    }

    .skills img {
        height: auto;
        width: 56.28571%;
        float: none;
        position: relative;
        padding: 0;
        left: -12px;
        bottom: 48px;
    }

    .skills .resume_Button {
        border-radius: 10px;
        background: transparent;
        position: relative;
        margin: 15 auto;
        left: -8px;
        right: 0;
        top: -21px;
        width: 150px;
        border-radius: 18px;
        border: 1px solid #000;
        font-size: 1em;
    }
}    